<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pickingapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.CAMERA"/>
    <uses-feature android:name="android.hardware.CAMERA.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickingApp">

        <activity android:name=".Capture"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity android:name=".Help"
            android:label="Ayuda"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".PickUp"
            android:label="Pick Up"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Menu"
            android:label="Menú Principal"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Configuration"
            android:label="Configuración"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Storage"
            android:label="Almacén"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>